{% extends 'djangoapp/base.html' %}{% block content %}
</br></br></br>
<section class="mb-4"style="width: 1000px; margin: auto;">
    <!--Section heading-->
    <header><h1 class="h1-responsive font-weight-bold text-left my-4">About Our Car Dealerships Serving in 21 States</h1></header>
    <img src="https://di-uploads-pod8.dealerinspire.com/eliteacura/uploads/2019/04/used-cars-in-a-row-banner.jpg" rel="" alt="about us" style="margin: center;">
    <!--Section description-->
    </br></br>
    <p>Best Car Dealer Group is a collection of car dealerships all over the US that proudly serve nearby Corona and Riverside drivers.
        Our family owned and operated business opened in 1997 and we're eager to continue our tradition of providing quality, 
        well-maintained pre-owned vehicle options to shoppers in the area. With rugged trucks, 
        family-friendly sedans and off-roading SUVs to explore, there'a competitively priced ride for every driver here at the Best Car Dealer Group! 
        <a href="{% url 'djangoapp:contact' %}">Contact our used car dealerships</a>
        near Fontana, CA to learn more about our Chevrolet Cruze inventory or to find a powerful used Dodge Challenger!
    </p>

    <h2>Why Shop at the Best Car Dealer Group?</h2>

    <p>Our fully stocked inventory of pre-owned vehicles means that drivers can explore an array of options before making any decisions as to what suits their needs. We carry models from a range of reputable brands, including:</p>

    <ul>
    <li>Ford</li>
    <li>BMW</li>
    <li>Audi</li>
    <li>Honda</li>
    <li>KIA</li>
    <li>Jeep</li>
    <li>Nissan</li>
    <li>Toyota</li>
    <li><h6>AND MANY MORE</h6></li>
    </ul>

    <p>And we offer professional financing assistance so that you can drive home behind the wheel of a pre-owned Mercedes-Benz with ease. Send our team a credit application online to learn more about the loan options we have available and be sure to ask about our <a href="/bad-credit-financing">sub-prime credit</a> packages if you have a few mishaps on your credit report. Already own a Honda Accord sedan and are looking to keep it running smoothly? Our <a href="/service">service center</a> near San Bernardino, CA employs factory-trained technicians that will cater to the needs of your ride to ensure it can run at an optimum, safe level. From oil changes to transmission services and brake pad inspections, the Best Car Dealer Group is here for you!</p>

    <p>When we're not assisting drivers with their auto needs, we're doing what we can to support the local community, like donating to charities in the area. We're here to help with all the needs of Montclair, CA residents, so get in touch with the Best Car Dealer Group today!</p>

    <div class="widget-header">Dealer Information</div>

    <div class="widget-address">								
    <span class="dealer-name">Best Car Dealer Group</span>
    <span class="dealer-address"></span>	
    <span class="dealer-address">Ontario, Montclair &amp; Garden Grove, CA </span>
    <span class="dealer-address"><i class="fa fa-map-marker"></i> <a href="http://maps.google.com/?q=%2C+Ontario%2C+Montclair+%26+Garden+Grove+CA+" target="_blank">Get Directions</a></span>
    </div>
    </br></br></br>
    <h3>Working Hours</h3>
    <div class="row">
        <div class="small-3 columns widget-hours-day">Sunday:</div><div class="small-9 columns widget-hours-time">9:00 AM - 9:00 PM</div>
    </div>
    <div class="row">
        <div class="small-3 columns widget-hours-day">Monday:</div><div class="small-9 columns widget-hours-time">9:00 AM - 9:00 PM</div>
    </div>
    <div class="row">
        <div class="small-3 columns widget-hours-day">Tuesday:</div><div class="small-9 columns widget-hours-time">9:00 AM - 9:00 PM</div>
    </div>
    <div class="row">
        <div class="small-3 columns widget-hours-day">Wednesday:</div><div class="small-9 columns widget-hours-time">9:00 AM - 9:00 PM</div>
    </div>
    <div class="row">
        <div class="small-3 columns widget-hours-day">Thursday:</div><div class="small-9 columns widget-hours-time">9:00 AM - 9:00 PM</div>
    </div>  
    <div class="row">
        <div class="small-3 columns widget-hours-day">Friday:</div><div class="small-9 columns widget-hours-time">9:00 AM - 9:00 PM</div>
    </div>
    <div class="row">
        <div class="small-3 columns widget-hours-day">Saturday:</div><div class="small-9 columns widget-hours-time">9:00 AM - 9:00 PM</div>
    </div>
</br></br>
    <h3>While creating this page made use of stgautogroup.com   </h3>

</section>

</br></br></br></br></br></br></br></br></br>       
{% endblock %}
